body
  background-color: blue

#content
  width: 1060px
  margin: 10px auto
  padding: 10px
  background-color: yellow

.notice, .error
  width: 100%
  align: center
  
#user-bar-greeting, #user-bar-action
  
#user-bar-greeting

#home_title
  text-align: right
  color: blue
  margin-right: 10px

#courses
  
#scores

.score_labels, .score_totals
  float: left
  p
    margin: 0
    line-height: 22px
    text-align: right

.score_fields
  width: 30px
  float: left

.score
  margin: 0
  width: 30px
  
#scorecard_submit
  clear: left
  display: block
