!darkgreen= #004400

body
  background-color = !darkgreen
  font-size: 16px
  
a
  color = !darkgreen
  text-decoration: none
a:hover
  text-decoration: underline
  
h3
  font-family: Arial
  font-size: 18px
  margin-bottom: 18px
  
hr
  width: 50%
  
/appears on all pages application.html.haml

#content
  width: 1060px
  margin: 10px auto
  padding: 10px
  background-color: tan

.notice, .error
  width: 40%
  padding: 10px 0px 10px
  margin: 0px auto
  text-align: center
  font-weight: bold
  clear: both
  
.notice
  color: green
  background-color: #88FF88
  border: thin solid green

.error
  color: red
  background-color: #FF8888
  border: thin solid red
  
#user-bar-action
  float: right
  text-align: right
  
#pending-requests
  float: left
  width: 250px
  
#search-box
  width: 300px
  margin: 0px auto
  form
    margin-bottom: 10px
    float: left

#home-title
  margin-top: 53px
  text-align: right
  margin-right: 75px
  margin-bottom: 35px
  font-size: 52px
  font-style: italic
  font-family: Arial
  border-bottom: thin solid #888
  a
    text-decoration: none
    
#footer
  font-size: 12px
  text-align: center
  clear: both
  p
    margin: 0px
    
.clear
  clear: both

/tabular divs for form and content display
 
.row
  margin: 2px 0px
  clear: left
  .label, label
    width: 120px
    float: left
    clear: left
    text-align: right
    margin-right: 5px
  .small-label
    width: 65px
    float: left
    text-align: right
    margin-right: 10px
  #scorecard_submit, .wide-label-submit, #review_submit
    margin-left: 125px
  .small-label-submit
    margin-left: 70px
  input.integer
    width: 60px
  .info
    margin-left: 130px
  p.legend
    margin-left: 135px
    width: 170px
    font-size: 12px
      
.row.under_input
  margin: -6px 0px 4px
    
.row.form-input
  min-height: 22px

.row.model-content
  min-height: 19px

    
/Form Error

.formError
  color: red
  margin-left: 130px
  clear: both
  
/ Homepage

.opening_blurb
  margin: 0px 0px 20px 20px
  float: left
  width: 510px
  line-height: 25px
  font-size: 14px
  text-align: justify
  #welcome
    font-size: 24px
    font-weight: bold
  #tagline
    line-height: 14px
    margin-bottom: 11px
    vertical-align: top
    font-style: italic
  ul li
    list-style: disc inside none
  
#home_courses
  padding: 0px 20px
  width: 490px
  float: right
  .missing-info
    line-height: 16px
    font-size: 12px
    text-align: justify
    .question
      display: block
      font-size: 14px
      font-weight: bold

/ Login

#login-button
  margin-top: 5px
    
/ Show Course Page
    
#courses
  padding: 0px 20px

.course
  margin: 10px 0px 40px
  
.us
  margin: 0px 30px 0px 10px

#left-column
  padding: 5px
  display: inline-block
  width: 510px
  vertical-align: top
  border-right: thin solid #888

#right-column
  padding: 5px 5px 5px 10px
  display: inline-block
  width: 510px
  vertical-align: top  
  
#scorecard .row
  margin-bottom: 5px
  
.score-labels, .score-totals, .score-fields
  float: left
  margin-bottom: 5px
  p
    margin: 0px 5px
    line-height: 22px
    
.score-labels p
  width: 115px
  text-align: right

.score-fields
  width: 30px
  
.score-totals
  min-width: 40px

.score
  margin: 0
  width: 30px
  height: 22px
  text-align: center
  
#reviews h3
  margin-bottom: 5px

.review
  padding: 5px
  margin-right: 60px
  border-bottom: thin dotted #004400
  border-collapse: collapse
  span
    font-size: 11px
  p
    margin: 10px 0px 3px
    font-size: 14px

#new_review
  margin-top: 10px
  
#my-best, #all-time, #last-month
  .row
    margin-bottom: 20px
    
.over-par
  color: red
  font-style: italic
  font-weight: bold
.under-par
  font-weight: bold
  color: black
.par
  color: black
    
/ Admin Course page
#holes
  margin-top: 20px
  .hole_fields
    margin-left: 10px
    margin-bottom: 5px
  
/ New Challenge page
#content-box
  margin-left: 125px
  height: 240px
  width: 765px
  overflow: auto
  .friend_with_checkbox
    float: left
    width: 204px
    margin: 10px
    padding: 10px
    border: 3px dotted #004400
    .user-blurb
      display: inline-block
    input
      float: right
      margin-right: 10px
      margin-top: 10px
      
/ Show Challenge page
#leaderboard
  margin-bottom: 50px
  #non-scoring-users .score-totals
    font-style: italic
      


/ Friendships index
.friend-request, .friend-possibility
  width: 219px
  float: left
  margin: 10px
  padding: 10px
  border: 3px dotted #004400
  .user-blurb
    float: left
  .button
    float: right
    clear: right
    height: 22px
