body {
  background-color: blue; }

#content {
  width: 1060px;
  margin: 10px auto;
  padding: 10px;
  background-color: yellow; }

.notice, .error {
  width: 100%;
  align: center; }



#home_title {
  text-align: right;
  color: blue;
  margin-right: 10px; }

.row {
  margin: 2px 0px;
  clear: left; }
  .row .label, .row label {
    width: 120px;
    float: left;
    clear: left;
    text-align: right;
    margin-right: 5px; }

.course {
  margin: 10px 0px 40px; }



.score_labels, .score_totals {
  float: left; }
  .score_labels p, .score_totals p {
    margin: 0px 5px;
    line-height: 22px; }

.score_labels p {
  width: 115px;
  text-align: right; }

.score_fields {
  width: 30px;
  float: left; }

.score {
  margin: 0;
  width: 30px; }

#scorecard_submit {
  clear: left;
  display: block; }
