- @requests.each do |friend_request|
  .friend-request
    = render :partial => "shared/user_blurb", :locals => {:user => friend_request.requester}
    .button
      - form_for friend_request do |f|
        = f.submit "Approve Friendship"
    .button
      = button_to "Deny Friendship", friendship_path(friend_request), :method => :delete