= render :partial => "home/course", :locals => {:course => @course}
= render :partial => "scorecards/new", :locals => {:course => @course} if current_user
= render :partial => "review", :collection => @reviews
= render :partial => "reviews/new" if current_user
